.about {
  color: blue;
  font-size: 14px;
  font-family: monospace;
}



.emphasis {
  color: yellow;
  font-style: italic;
}

.bg {
  background: linear-gradient(black, violet, grey, orange, white);
}

.bggradient {
  background: linear-gradient(to right, black, violet, grey, orange, white);
}
.bgdiv {
  background-color: white;
}
